* {
  font-family: serif, sans-serif;
}

body {
  font-family: serif, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 600px;
  margin: 0 auto 0 0;
  padding: 20px;
}

h1 {
  text-align: center;
}

#flashcard-container {
  margin-top: 20px;
}
.flashcard {
  position: relative;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-left: auto;
  margin-bottom: 10px;
  word-wrap: break-word;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.flashcard-number {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #555;
}

.form-container {
  margin-top: 20px;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  display: inline-block;
  width: auto;
  padding: 10px 20px;
  background-color: maroon;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
}

button:hover {
  background-color: black;
}

/* Media Queries for Responsive Design */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    padding: 30px;
  }

  .flashcard {
    width: 100%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    padding: 40px;
  }

  .flashcard {
    width: 45%;
    margin-right: 5%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    padding: 50px;
  }

  .flashcard {
    width: 30%;
    margin-right: 5%;
  }
}
